.table-container {
    box-shadow: var(--box-shodow);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg);
    width: auto;
}

.table-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg);
    width: auto;
}

.filter-group {
    display: flex;
    column-gap: 5px;
}

.filter-code {
    display: flex;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
}

.option-radio {
    display: flex;
    column-gap: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    color: grey;
    margin: 0 5px;
    padding-left: 22px;
    transition: all 0.3s;
}

.radio-label input {
    position: absolute;
    opacity: 0;
}

.radio-label input:checked ~ span {
    color: var(--main-color-blue);
}

.radio-ckeckbox {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 0;
    background-color: #cccccc;
    border: solid 1px #bbbbbb;
    border-radius: 50%;
    transform: translateY(-1.5px);
}

.radio-label input:checked ~ .radio-ckeckbox {
    background-color: var(--main-color-blue);
    border: solid 1px var(--main-color-blue);
}

.button-group {
    display: flex;
    column-gap: 5px;
}

.button-group.hide {
    display: none;
}

.button-select {
    border: 2px solid var(--main-color-blue) ;
    border-radius: 5px;
    color: var(--main-color-blue);
    background-color: inherit;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 7px;
}

.button-select:hover {
    background-color: var(--main-color-blue);
    color: white;
}

.button-set-status {
    border: 2px solid var(--main-color-blue) ;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color-blue);
    cursor: pointer;
    font-size: 16px;
    padding: 3px 7px;
}

.button-delete {
    border: 2px solid var(--main-color-red) ;
    border-radius: 5px;
    color: var(--main-color-red);
    background-color: inherit;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 7px;
}

.button-delete:hover {
    background-color: var(--main-color-red);
    color: white;
}

.vertical-line {
    border: 1px solid grey;
}

.table-content {
    overflow-x: scroll;
}

.table-content::-webkit-scrollbar {
    display: none;
}

.customer-table {
    width: 100%;
}

.customer-table > thead {
    background-color: var(--main-bg);
    color: black;
    height: 60px;
    text-transform: capitalize;
}

.customer-table,
.customer-table th,
.customer-table td {
    border-collapse: collapse;
}

.customer-table > thead,
.customer-table > tbody {
    border: solid 2px rgb(225, 225, 225);
}

.customer-table th,
.customer-table td {
    border: solid 1px rgb(225, 225, 225);
}

.head-select {
    width: 4%;
    max-width: 4%;
}

.head-status {
    width: 7%;
    max-width: 7%;
}

.head-code {
    width: 10%;
    max-width: 10%;
}

.head-name {
    width: 30%;
    max-width: 30%;
}

.head-email {
    width: 25%;
    max-width: 25%;
}

.head-tel {
    width: 15%;
    max-width: 15%;
}

.head-edit {
    width: 9%;
    max-width: 9%;
}

.row > td {
    padding: 10px;
}

.row.even {
    background-color: var(--second-bg);
}

.row.add {
    background-color: inherit;
}

.body-select,
.body-status,
.body-tel,
.body-edit {
    text-align: center;
}

.body-status.active > span {
    background-color: var(--main-color-green);
    color: white;
    border-radius: 30px;
    padding: 0 10px;
}

.body-status.inactive > span {
    background-color: var(--main-color-yellow);
    color: white;
    border-radius: 30px;
    padding: 0 10px;
}

.body-edit > button {
    border: 2px solid var(--main-color-blue);
    border-radius: 5px;
    background-color: inherit;
    color: var(--main-color-blue);
    text-transform: capitalize;
    cursor: pointer;
}

.body-edit > button:active {
    background-color: var(--main-color-blue);
    color: white;
}

.table-pagination {
    display: flex;
    justify-content: end;
    margin: 20px 10px 10px 10px;
}

@media screen and (max-width: 900px) {
    .table-option {
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .filter-group {
        flex-direction: column;
        row-gap: 5px;
    }
}
