.option-bar {
    box-shadow: var(--box-shodow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-bg);
    width: auto;
}

.option-bar button {
    text-transform: capitalize;
}

.button-add {
    border: 2px solid var(--main-color-green) ;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color-green);
    cursor: pointer;
    font-size: 16px;
    padding: 3px 7px;
}