.form-header {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
}

.label {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 10px 0;
}

.label.submit {
    margin-top: 30px;
}

.label > span {
    text-align: end;
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    color: var(--main-font-grey);
    flex-basis: 150px;
}

.inputbox {
    display: flex;
    width: 400px;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: 2px solid grey;
    border-radius: 3px;
}

.valid-message {
    color: var(--main-color-red);
}

.valid-message.hide {
    display: none;
}

.submit-button {
    border: 2px solid var(--main-color-green);
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: var(--main-color-green);
    color: white;
    cursor: pointer;
}

.submit-button:active {
    transform: translateY(1px);
}

.delete-button {
    border: 2px solid var(--main-color-red);
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: inherit;
    color: var(--main-color-red);
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: var(--main-color-red);
    color: white;
}

.delete-button:active {
    transform: translateY(1px);
}

@media screen and (max-width: 520px) {
    .label {
        flex-direction: column;
        align-items: flex-start;
    }

    .label > span {
        flex-basis: 0;
    }

    .inputbox {
        width: calc(100% - 10px);
    }

    .label.submit {
        align-items: center;
    }
}